html {
    height: 100%;
}

body{
    height: 100%;
    background-image: linear-gradient(to right top, #090979, #0044aa, #0074cf, #00a4ea, #00d4ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

hr {
    color: lightslategray;
}

.pt2 {
    padding-top: 2rem;
}

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 50vw;
    margin: auto;
    padding: 50px 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-head{
    display: flex;
    flex-direction: column;
}

.registration-form .form-head span img {
    width: auto;
    height: auto;
    position: relative;
    float: left;
    right: 1rem;
}

.registration-form .form-head span h2 {
    padding-left: 15rem;
}

.registration-form .form-title{
	/* text-align: end; */
    display: inline-flex;
    align-self: flex-end;
}

.registration-form .form-field{
    display: inline-flex;
    align-self: center;
    padding-top: 2vh;
}

.registration-form .form-field-input {
    display: inline-flex;
}

.registration-form .form-field-input input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue;
    max-width: 10rem;
}

.registration-form .form-head .form-field-input .form-check {
    margin-bottom: 2rem;
    padding-left: 1vw;
}

.registration-form .form-head .form-field-input .label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1vh;
}

.registration-form .form-head .form-field-input .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.registration-form .form-head .form-field-input input{
    border-bottom: 1px solid #000;
}

.form-group {
    margin-bottom: 0rem !important;
}

.form-control {
    border: none;
    
}


.registration-form .questions{
    display: inline-flex;
    border-bottom: 1px solid #9fadca;
    margin-bottom: 5px;
    padding: 0px 10px;
}

.registration-form .questions .options{
    margin-right: 1rem;
    display: inline-flex;
}

.form-check  {
    margin-bottom: 1rem;
    padding-left: 2.3rem;
}

.question .item {
    width: 24vw;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.form-bottom {
    text-align: center;
}

  .loginPopup {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45vh;
    /* bottom: 40vh; */
    /* left: 5rem; */
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid ;
    border-radius: 10px;
    z-index: 9;
  }

  .border-gradient {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #090979, #0044aa, #0074cf, #00a4ea, #00d4ff) border-box;
    border-radius: 30px;
    border: 4px solid transparent;
  }
  
  .border-gradient {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: darkblue;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .formPopup {
    padding: 2rem;
    width: 20vw;
    height: 15vh;
  }

  .formContainer {
    max-width: 100%;
    /* padding: 20px; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .formContainer input[type=text],

  .formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }

  .formContainer input[type=text]:focus,
  .formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

   .cancel {
    border-radius: 30px;
    /* padding: 10px 20px; */
    font-size: 18px;
    font-weight: bold;
    /* background-color: rgb(201, 67, 67); */
    border: 1px solid black;
    color: black;
    /* margin-top: 20px; */

  }

  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}