@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

html {
    height: 100%;
}

body{
    height: 100%;
    background-image: linear-gradient(to right top, #090979, #0044aa, #0074cf, #00a4ea, #00d4ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

hr {
    color: lightslategray;
}

.pt2 {
    padding-top: 2rem;
}

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 85vw;
    margin: auto;
    padding: 50px 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-head{
    display: flex;
    flex-direction: column;
}

.registration-form .form-head span {
    display: inline-flex;
}

.registration-form .form-head span img {
    width: auto;
    height: auto;
    position: relative;
    float: left;
    right: 1rem;
}

.registration-form .form-head span h2 {
    padding-left: 8vw;
    float: left;
}

.registration-form .form-title{
	/* text-align: end; */
    display: inline-flex;
    align-self: center;
}

.registration-form .form-field{
    display: inline-flex;
    align-self: center;
    padding-top: 2vh;
}

.registration-form .form-field-input {
    display: inline-flex;
}

.registration-form .form-field-input input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue;
    max-width: 10rem;
}

.registration-form .form-head .form-field-input .form-check {
    margin-bottom: 2rem;
    padding-left: 1vw;
}

.registration-form .form-head .form-field-input .label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1vh;
}

.registration-form .form-head .form-field-input .input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.registration-form .form-head .form-field-input input{
    border-bottom: 1px solid #000;
}

.form-group {
    margin-bottom: 0rem !important;
}

.form-control {
    border: none;
    
}


.registration-form .questions{
    display: inline-flex;
    border-bottom: 1px solid #9fadca;
    margin-bottom: 5px;
    padding: 0px 10px;
}

.registration-form .questions .options{
    margin-right: 1rem;
    display: inline-flex;
}

.form-check  {
    margin-bottom: 1rem;
    padding-left: 2.3rem;
}

.question .item {
    width: 24vw;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.form-bottom {
    text-align: center;
}

  .loginPopup {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45vh;
    /* bottom: 40vh; */
    /* left: 5rem; */
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid ;
    border-radius: 10px;
    z-index: 9;
  }

  .border-gradient {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #090979, #0044aa, #0074cf, #00a4ea, #00d4ff) border-box;
    border-radius: 30px;
    border: 4px solid transparent;
  }
  
  .border-gradient {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: darkblue;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .formPopup {
    /* padding: 2rem; */
    width: 20vw;
    height: auto;
  }

  .formContainer {
    max-width: 100%;
    /* padding: 20px; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .formContainer input[type=text],

  .formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }

  .formContainer input[type=text]:focus,
  .formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

   .cancel {
    border-radius: 30px;
    /* padding: 10px 20px; */
    font-size: 18px;
    font-weight: bold;
    /* background-color: rgb(201, 67, 67); */
    border: 1px solid black;
    color: black;
    /* margin-top: 20px; */

  }

  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }

  #subscribe
  {
    background:#ddd;
    padding:15px 30px 15px 30px;
    margin:10px;
    border:none;
    cursor:pointer;
    border-radius:30px;}

.wrapper {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    content: "";
    background: #000000c9;
}

.popup-box {
  width: 400px;
  padding: 70px;
  transform: translate(-50%, -50%) scale(.5);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 2px 16px rgba(255,255, 255, .9);
  border-radius: 20px;
  text-align: center;

}
.popup-box h2 {
  color: #ffffff;
}
.popup-box h3 {
  color: #888;
}
.popup-box .close-button {
  width: 35px;
  height: 35px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  border-radius: 1000px;
  background: #7b78ff;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  line-height: 190%;
}
.popup-box .close-button:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.transform-in, .transform-out {
  display: block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.transform-in {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.transform-out {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
}

@media (max-width:530px) {
    .registration-form .form-field-input input {
        max-width: 1rem;
    }
}

@media (max-width: 576px) {
    .registration-form form{
        max-width: 90vw;
    }

    .registration-form .form-head span h2 {
        padding-left: 12rem !important;
        font-size: 15px !important;
    }

    .registration-form .form-head span img {
        width: 10rem;
        right: 0rem;
    }

    .question .item {
        width: 35vw !important;
    }

    .registration-form .form-field-input input {
        max-width: 6rem !important;
    }

}

@media screen and (min-width:577px) and (max-width: 751px) {
    .registration-form .form-head span img {
        width: 10rem;
        right: 0rem;
    }

    .registration-form .form-head span h2 {
        padding-left: 12rem;
        font-size: 22px;
    }

    .registration-form .form-field-input input {
        max-width: 6rem;
    }

    .question .item {
        width: 30vw;
    }
}

@media (max-width:1200px) {
    .registration-form form {
        max-width: 90vw;
    }

    .registration-form .form-head span img {
        width: 10rem;
        right: 0rem !important;
    }

    .registration-form .form-head span h2 {
        padding-left: 5vw;
        float: left;
        font-size: 22px;
    }

    .registration-form .form-field-input input {
        max-width: 9rem;
    }

    .question .item {
        width: 44vw;
    }

}

@media (min-width:1201px) and (max-width:1365px) {
    .registration-form form {
        max-width: 90vw;
    }

    .question .item {
        width: auto;
    }
}

@media (min-width:1366px) {
    /* .registration-form form {
        max-width: 85vw;
    } */

    .registration-form .form-field-input input {
        max-width: 95%;
    }

    .question .item {
        width: 35vw;
    }

    /* .registration-form .form-head span h2 {
        padding-left: 15rem;
        font-size: 35px;
    } */

    /* .registration-form .form-head span img {
        right: 12rem;
    } */
}

@media (min-width:768px) and (max-width:1023px) {
    .registration-form form {
        max-width: 90vw;
    }

    .registration-form .form-head span img {
        width: 10rem;
        right: 0rem;
    }

    .registration-form .form-head span h2 {
        padding-left: 2rem;
        font-size: 24px;
    }

    .registration-form .form-field-input input {
        max-width: 8rem;
    }

    .question .item {
        width: 40vw;
    }

    .registration-form .questions .options {
        margin-left: 3rem !important;
    }

}

@media screen and (orientation:landscape) and (min-device-width:0px) and (max-device-width:992px) {
    .registration-form .form-field-input input {
        max-width: 6rem;
    }
}


@media screen and (orientation:landscape)and (min-device-width:768px) and (max-device-width:1179px) {
    .registration-form form {
        max-width: 90vw;
    }
    
    .question .item {
        width: 50vw;
    }

    .registration-form .form-head span img {
        width: 14rem;
        right: 2rem;
    }

    .registration-form .form-field-input input {
        max-width: 9rem;
    }

}

@media screen and (orientation:landscape)and (min-device-width:1024px) and (max-device-width:1366px) {
    .registration-form .form-field-input input {
        max-width: 12rem;
    }

    .registration-form .form-head span h2 {
        padding-left: 8vw;
        float: left;
        font-size: 2rem;
    }

    .registration-form .form-head span img {
        right: 5rem;
    }

}